h1 {
    /*background-image: "images/BookshelfBG.jpg";*/
    /*color: white;*/
    /*background-color: blue;*/
}

books {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
}




