<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>servlets.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursement</display-name>
    <servlet-name>SubmitReimbursement</servlet-name>
    <servlet-class>servlets.SubmitReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursement</servlet-name>
    <url-pattern>/submitreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPicture</display-name>
    <servlet-name>UploadPicture</servlet-name>
    <servlet-class>servlets.UploadPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPicture</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementConfirmation</display-name>
    <servlet-name>ReimbursementConfirmation</servlet-name>
    <servlet-class>servlets.ReimbConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementConfirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementInfo</display-name>
    <servlet-name>ReimbursementInfo</servlet-name>
    <servlet-class>servlets.ReimbursementInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementInfo</servlet-name>
    <url-pattern>/reimbInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPicture</display-name>
    <servlet-name>DisplayPicture</servlet-name>
    <servlet-class>servlets.DisplayPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPicture</servlet-name>
    <url-pattern>/displaypicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPendingReimb</display-name>
    <servlet-name>EmpPendingReimb</servlet-name>
    <servlet-class>servlets.EmpPendingReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPendingReimb</servlet-name>
    <url-pattern>/emppendreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpObtainPendingReimb</display-name>
    <servlet-name>EmpObtainPendingReimb</servlet-name>
    <servlet-class>servlets.EmpObtainPendingReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpObtainPendingReimb</servlet-name>
    <url-pattern>/empobtainpendreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpResolvedReimb</display-name>
    <servlet-name>EmpResolvedReimb</servlet-name>
    <servlet-class>servlets.EmpResolvedReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpResolvedReimb</servlet-name>
    <url-pattern>/empviewresolvedreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpObtainResolvedReimb</display-name>
    <servlet-name>EmpObtainResolvedReimb</servlet-name>
    <servlet-class>servlets.EmpObtainResolvedReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpObtainResolvedReimb</servlet-name>
    <url-pattern>/empobtainresreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewInfo</display-name>
    <servlet-name>EmpViewInfo</servlet-name>
    <servlet-class>servlets.EmpViewInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewInfo</servlet-name>
    <url-pattern>/empviewinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpUpdateInfo</display-name>
    <servlet-name>EmpUpdateInfo</servlet-name>
    <servlet-class>servlets.EmpUpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdateInfo</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidLogin</display-name>
    <servlet-name>InvalidLogin</servlet-name>
    <servlet-class>servlets.InvalidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidLogin</servlet-name>
    <url-pattern>/InvalidLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewInfo</display-name>
    <servlet-name>ManViewInfo</servlet-name>
    <servlet-class>servlets.ManViewInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewInfo</servlet-name>
    <url-pattern>/manviewinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManObtainResolvedReimbServlet</display-name>
    <servlet-name>ManObtainResolvedReimbServlet</servlet-name>
    <servlet-class>servlets.ManObtainResolvedReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManObtainResolvedReimbServlet</servlet-name>
    <url-pattern>/manobtainresreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManResolvedReimbServlet</display-name>
    <servlet-name>ManResolvedReimbServlet</servlet-name>
    <servlet-class>servlets.ManResolvedReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManResolvedReimbServlet</servlet-name>
    <url-pattern>/manviewresolvedreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManApproveDenyReimbServlet</display-name>
    <servlet-name>ManApproveDenyReimbServlet</servlet-name>
    <servlet-class>servlets.ManApproveDenyReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManApproveDenyReimbServlet</servlet-name>
    <url-pattern>/approvedeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManObtainPendingReimbServlet</display-name>
    <servlet-name>ManObtainPendingReimbServlet</servlet-name>
    <servlet-class>servlets.ManObtainPendingReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManObtainPendingReimbServlet</servlet-name>
    <url-pattern>/manobtainpendreimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManApproveServlet</display-name>
    <servlet-name>ManApproveServlet</servlet-name>
    <servlet-class>servlets.ManApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManApproveServlet</servlet-name>
    <url-pattern>/ManApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManDenyServlet</display-name>
    <servlet-name>ManDenyServlet</servlet-name>
    <servlet-class>servlets.ManDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManDenyServlet</servlet-name>
    <url-pattern>/ManDenyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewAllEmpServlet</display-name>
    <servlet-name>ManViewAllEmpServlet</servlet-name>
    <servlet-class>servlets.ManViewAllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewAllEmpServlet</servlet-name>
    <url-pattern>/manviewallemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManObtainAllEmp</display-name>
    <servlet-name>ManObtainAllEmp</servlet-name>
    <servlet-class>servlets.ManObtainAllEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManObtainAllEmp</servlet-name>
    <url-pattern>/ManObtainAllEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewReimEmpServlet</display-name>
    <servlet-name>ManViewReimEmpServlet</servlet-name>
    <servlet-class>servlets.ManViewReimEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewReimEmpServlet</servlet-name>
    <url-pattern>/manviewreimbemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManGetEmpReimbServlet</display-name>
    <servlet-name>ManGetEmpReimbServlet</servlet-name>
    <servlet-class>servlets.ManGetEmpReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManGetEmpReimbServlet</servlet-name>
    <url-pattern>/ManGetEmpReimbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManViewReimEmpDispServlet</display-name>
    <servlet-name>ManViewReimEmpDispServlet</servlet-name>
    <servlet-class>servlets.ManViewReimEmpDispServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManViewReimEmpDispServlet</servlet-name>
    <url-pattern>/ManViewReimEmpDispServlet</url-pattern>
  </servlet-mapping>
</web-app>